@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, #db66ab, #e5bd80);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: url(../imagens/maiara-foto-redonda.png) no-repeat center center;
    background-attachment: fixed;
}

menu {
    margin: 15px 0px 0px 4.75%;
    max-width: max-content;
}

menu>a {
    background-color: #e0e0e0;
    padding: 5px 9px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}

header {
    position: relative;
    left: -50px;
    max-width: max-content;
    align-self: center;
}

header>h2 {
    font-size: 2em;
    color: white;
    position: relative;
    left: 60%;
    top: 10%;
}

header>h1 {
    font-size: 3em;
    text-align: center;
}

.setor-central {
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.information {
    margin-left: 30px;
    width: 15%;
    font-size: .8em;
}

.pessoal {
    margin-right: 30px;
    width: 15%;
    font-size: .8em;
}

section>article {
    font-size: 1.5em;
    font-weight: bold;
}

title {
    background-color: red;
}

main {
    height: 100%;
    align-self: center;
}

main>img {
    border: 1.5px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.745);
}

section {
    max-width: max-content;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0px;
    background-color: rgb(59, 59, 59);
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 8px;
}